#!/bin/bash

export PGPASSWORD='{{ db_password }}'

function db {
	psql -h {{ host }} -d wso2is -U {{ db_user }} -f $1
}

psql -h localhost -U {{ db_user }} -c "drop database wso2is"
psql -h localhost -U {{ db_user }} -c "create database wso2is"
db postgres-base.sql
db postgres-bpel.sql
db postgres-identity.sql
db postgres-metrics.sql
db add-users.sql
db add-roles.sql

