[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
Restart=on-failure
ExecStart=/opt/consul/bin/consul agent $CONSUL_FLAGS -config-dir=/opt/consul/config/ -dev
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target